<aside class="sidebar">
    <div class="sidebar-logo">
        <img src="/image/King.jpg" alt="Logo Aplikasi Kasir">
    </div>
    <nav>
        <ul>
            <li><a href="/produk">Dashboard</a></li>
            <li><a href="/produk/tambah">Tambah Produk</a></li>
            <li><a href="/penjualan/riwayat">Riwayat</a></li>
            <li><a href="/produk/stok">Stok Produk</a></li>
        </ul>
    </nav>
    <form action="/auth/logout" method="get" class="logout-form">
        <button type="submit">Logout</button>
    </form>
</aside>
